{% extends 'base.html' %}
{% block title %}home {% endblock %}


{% block  body%}

<div class="container border border-2 border-secondary-subtle mt-5" style="width: 500px; padding: 20px 18px;">
    <h1 class="text-center">SignUp</h1>
    <hr>

    <form action="signup" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
            <label class="form-label">username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email"
                id="exampleFormControlInput1"  required>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">password</label>
            <input type="password" class="form-control" name="password"
                id="exampleFormControlInput1"  required>
        </div>
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">confirm password</label>
            <input type="password" class="form-control" name="cpassword"
                 required>
        </div>
        </div>
     <p class="text-center mt-1">Alredy have account?<a href="user_login">login</a> </p>
     <div class="d-grid gap-2 mt-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>


{% endblock body %}